.btn-section-2,
.course-card{
    background-color: #1C1C1C;
}

.course-card-layout{
    background-color: #2D2D2D;
    border-radius: 24pt 24pt 24pt 24pt;
}

.cc-icon img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}