  .gradient-text-custom {
    background-image: linear-gradient(180deg, #62DB54, #09ACF5);
    background-clip: text;
    color: transparent;
  }

  .gradient-custom {
    background-image: linear-gradient(104deg, #62DB54, #09ACF5);
  }

  *, *::before, *::after {
    box-sizing:border-box;
   }

   .fs-sp{
    font-style: 26px;
   }

   img{
    max-width:100%;
    height:auto;
    vertical-align: middle;
  }

  /**************/
  .main-area{
    padding:203px 0px 204px 0px;
    background-image: url(../images/bg_home.jpg);
    background-size: cover;

  .slogan-border{
      padding: 50.8px 0px 50.41px 0px;
      position: relative;
  }

  .square-1{
    position: absolute;
    top:-2.2%;
    left:-0.9%;
    width: 10px;
    height: 10px;
  }

  .square-2{
    position: absolute;
    top:-2.2%;
    left:99.2%;
    width: 10px;
    height: 10px;
  }

  .square-3{
    position: absolute;
    top:97.8%;
    left:-0.9%;
    width: 10px;
    height: 10px;
  }

  .square-4{
    position: absolute;
    top:97.8%;
    left:99.2%;
    width: 10px;
    height: 10px;
  }

}

/**********spec***********/
.spec{

  span{
    font-size: 50px;
  }

  .card-1 :hover{
    border: 1px solid #62DB54;
    border-radius: 12pt 12pt 12pt 12pt;
    background-color: #202020;
  }

  .hue-line{
    position:absolute;
    top:100%;
    left:55px;
    height: 3px;
    width:20%;
    // @media (max-width:576px) {
    //   left:55px;
    // }
  }

}

/***************/
.study-process{
  .hue-line-2{
      position:absolute;
      top:100%;
      left:35%;
      height: 3px;
      width:29.76%;
    }

  .hue-line-3{
    line-height: 56px;
    position: absolute;
    top:-30px;
    left:20%;
    background-color:black;
  }
  
  .card-2-layout{
    padding-top: 74px;
    padding-bottom: 74px;

    .card-2{
      border-radius: 12pt 12pt 12pt 12pt;
    }
  }

}

/****************/
.btn-section{

  .hue-line-3{
    position:absolute;
    top:100%;
    left:45%;
    height: 3px;
    width:13.73%;
  }

}

/***Program********/
.program-card{

  .hue-line-4{
    position:absolute;
    top:100%;
    left:35%;
    height: 3px;
    width:29.76%;
  }

  .card-4{

    border-radius: 24pt 24pt 24pt 24pt;

    img{
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }
}

/*********Benefit*********/
.benefit{
  position: relative;
  z-index: 1;

  .card-padding{
    padding-top: 216.04px;
    padding-bottom: 215.96px;
  }

  .hue-line-5{
    position:absolute;
    top:100%;
    left:0%;
    height: 3px;
    width:20%;
  }

  .context-z-index{
    z-index: 1;
  }

  .hue-line-6{
    z-index: 0;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    opacity: 0.6;
    background-color: black;
  }

  .card-body:hover .hue-line-6{
    opacity: 0;
  }

  .card-body:hover{
    width: 30%;
    transition: width 0.5s;
  }

  .bgi-1{
    position: relative;
    background-image: url(../images/info01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .bgi-2{
    background-image: url(../images/info02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .bgi-3{
    background-image: url(../images/info03.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .bgi-4{
    background-image: url(../images/info04.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }


}

/****Articles***********/
.articles{
  background-color: #1C1C1C;

  .hue-line-7{
    position:absolute;
    top:100%;
    left:35%;
    height: 3px;
    width:26.04%;
  }
  .card-body-5{
    position: relative;
  }

  .squareRounded {
    display: none;
    width: 32px;
    height: 32px;
    &-topLeft {
      border-top: 2px solid #62DB54;
      border-left: 2px solid #62DB54;
      border-top-left-radius: 10px;
    }
    &-topRight {
      border-top: 2px solid #62DB54;
      border-right: 2px solid #62DB54;
      border-top-right-radius: 10px;
    }
    &-bottomLeft {
      border-bottom: 2px solid #62DB54;
      border-left: 2px solid #62DB54;
      border-bottom-left-radius: 10px;
    }
    &-bottomRight {
      border-bottom: 2px solid #62DB54;
      border-right: 2px solid #62DB54;
      border-bottom-right-radius: 10px;
    }
  }
  .card-body-5:hover {
    .squareRounded {
      display: block;
    }
  }

}

/************/
.feedback {
  background-image: url(../images/bg_share.jpg);
  height: 733px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 80px 0;
  @media (max-width:991px) {
    height: auto;
  }
}

.swiper {
  width: 100%;
  height: 429px;
  @media (max-width:991px) {
    height: auto;
  }
  &-img {
    top: 0;
    left: 10px;
    width: 60%;
    height: 90%;
    border-radius: 24px;
    position: absolute;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border: 1px solid #7C7E77;
      border-radius: 24px;
      left: -10px;
      top: 10px;
      z-index: -1;
      @media (max-width:991px) {
        left: -5px;
        top: 5px;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 24px;
    }
    @media (max-width:991px) {
      position: relative;
      width: calc(100% - 5px);
      height: 213px;
      left: 5px;
      margin-bottom: 40px;
    }
  }
  .card {
    width: 45%;
    padding: 32px;
    border-radius: 24px 24px 24px 0;
    bottom: 0;
    right: 0;
    position: absolute;
    h3 {
      font-size: 18px;
    }
    &-img {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      position: absolute;
      right: 32px;
      bottom: 100%;
      transform: translateY(50%);
      @media (max-width:991px) {
        width: 80px;
        height: 80px;
        right: 24px;
        top: -30px;
        bottom: auto;
        transform: none;
      }
    }
    @media (max-width:991px) {
      position: relative;
      width: 100%;
      padding: 24px;
      margin-bottom: 32px;
    }
  }

  .swiper-button-next:after, .swiper-button-prev:after {
    content: '';
  }

  .swiper-button-next, 
  .swiper-button-prev {
    position: relative;
    width: 24px;
    height: 24px;
    margin-top: 0px;
    color: #62DB54;
        @media (max-width: 991px) {
      position: initial;
      transform: none;
    }
  }

  .swiper-pagination {
    position: unset;
    width: auto;
    .swiper-pagination-bullet {
      background-color: #62DB54;
      opacity: initial;
      &-active {
        width: 16px;
        border-radius: 100px;
      }
    }
  }
  &-buttons {
    bottom: 0;
    left: 30%;
    transform: translateX(-50%);
    z-index: 10;
    position: absolute;
    @media (max-width: 991px) {
      position: initial;
      transform: none;
    }
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal{
    width: 100%;
    @media (max-width: 768px) {
      width: 30%;
    }
}

}

/*******Join us*********/
.join-us{

  .card-8{
    border-radius: 24pt 24pt 24pt 24pt;
    background-color: #202020;

    .menu-book{
      font-size: 80px;
    }
  }

}
