<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./assets/style/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="./assets/js/swiper.js"></script>
  </head>

  <body>
    <nav class="bg-dark navbar-fixed">
      <div class="rgb-border">
        <div class="container">
          <div class="row justify-content-between align-items-center">
            <img class="col-2 py-3" src="./assets/images/logo.svg" alt="logo">
            <div class="col-10">
                <ul class="d-flex justify-content-end list-unstyled text-text mb-0 fs-7 lh-md">
                  <li class="me-4"><a class="link-light text-decoration-none" href="#">首頁</a></li>
                  <li class="me-4"><a class="link-light text-decoration-none" href="#">課程介紹</a></li>
                  <div class="d-flex">
                    <li><a href="#" class="link-light"><span class="material-icons mb-0">account_circle</span></a></li>
                    <li><a href="#" class="link-light text-decoration-none">登入</a></li>
                  </div>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <%- contents %>

    <footer class="footer">
      <!-- footer -->
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>