<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./assets/style/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="./assets/js/swiper.js"></script>
  </head>

  <body>
    <nav class="bg-dark fixed-top navbar-layout">
      <div class="">
        <div class="container-xxl">
          <div class="row justify-content-around justify-content-lg-center align-items-center ">
            <img class="col-4 col-sm-4 col-md-4 col-lg-2 py-3" src="./assets/images/logo.svg" alt="logo">
            <div class="col-8 col-sm-6 col-md-8 col-lg-10 burger-menu d-flex justify-content-end align-items-center rgb-border pe-5">
                <input type="checkbox" id="toggle">
                <label for="toggle">
                    <span class="material-icons text-white">menu</span>
                </label>
                <ul class="d-flex justify-content-end list-unstyled text-text mb-0 fs-7 lh-md menu-content-layout">
                  <li class="me-4 py-4 py-md-0"><a class="link-light text-decoration-none" href="#">首頁</a></li>
                  <li class="me-4 pb-4 pb-md-0"><a class="link-light text-decoration-none" href="#">課程介紹</a></li>
                  <div class="d-flex pb-4 pb-md-0">
                    <li><a href="#" class="link-light"><span class="material-icons mb-0">account_circle</span></a></li>
                    <li><a href="#" class="link-light text-decoration-none">登入</a></li>
                  </div>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <%- contents %>

    <footer class="footer container-fluid bg-dark">
      <div class="row flex-row justify-content-center">
        <div class="col-4 py-4">
          <p class="text-white text-center mb-0">Coding Home © 2022 All Rights Reserved</p>
        </div>
      </div>
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>